html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}

/*TOPO CONTATO*/

 
#contato-topo{
	height: 40px;
	max-height: 100%;
	background: #F2F2F2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#topo{
	padding: 45px;
	padding-left: 29%;
	padding-bottom: 15px;
	width: 100%;
	display: none;
}

#topo ul li{
    display: inline-block;	
    padding: 10px 70px 0 0;
	font-size: 20px;
}

#topo ul li a{
	text-decoration: none;
	color: black;
}

#topo ul li a:hover{
	color: #778899;
}

#topo ul ul{
	position: absolute;
	min-width: 200px;
	display: none;
	background: #778899;
}

#topo ul ul li{
	display: block;
	background: #778899;
}

#topo ul li:hover ul{
	display: block;
	line-height: 30px;
	font-size: 16px;
	z-index: 1;
}

/* CSS PARA SLIDER*/
/* CSS PARA SLIDER*/


.slider{
	margin: auto;
	margin-top:40px;
	width: 800px;
	height: 400px;
	overflow: hidden;
}

.slides{
	width: 400%;
	height: 400px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 25%;
	position: relative;
	transition: 2s;
}

.slide img{
	width: 800px;
	height: 400px;
}

.manual-navigation{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid #fff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background-color: #fff;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -25%;
}

#radio3:checked ~ .first{
	margin-left: -50%;
}

#radio4:checked ~ .first{
	margin-left: -75%;
}

/* FIM PARA SLIDER*/

/* INICIO DAS CONVENCOES*/

.convencoes{
	margin-top: 50px;
	font-size: 40px;	
	margin-bottom: 15px;
}

.documentos{
	display: inline-block;
	padding-left: 20.3%;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.documentos ul li{
	padding-top: 15px;
	font-weight: 900;
}

.btn{
	background-color: #1C1C1C;
	padding: 5px 3px;
	border-radius: 8px 0 8px 0;
	width: 50px;
	transition: 1s;
}
.btn a{
	text-decoration: none;
	color: #fff;
}

.btn:hover{
	padding-left: 8px;
}


/* FIM DAS CONVENCOES*/




/* CAIXA MODAL 1.0 */


#body-0{
	/*display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #8B8B7A;
	width: 100%;
	height: 300px;
	background-color: #DCDCDC;*/
	width: 100%;
	height: 250px;
}

.bodyLimitador2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*background-color: #4F4F4F;*/
	width: 100%;
	max-width: 1200px;
  	height: 100%;
	margin: auto;
	
}

.boxModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #74C5CD;
	width: 30%;
	height: 150px;
	margin: auto;
	
}

.tituloModal{
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 10px;
	background-color: white;
	color: cadetblue;
}
/*
.checkboxModal {
	
}

#modalAtivador:checked + .modal {

	display: flex;

}
*/
.modal{
/*	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);  */
	z-index:1;
    position: fixed;
    top:0;
    left:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out , opacity 0.25s ease-in-out, transform 0.25s ease-in-out;

}
.modal-content{
    
    background-color: white;
    padding: 16px 24px;    
    width: 384px;
    border-radius: 0.5rem;
}
.trigger {
	cursor: pointer;
}
.close-button{
   float: right;
   width: 24px;
   line-height: 24px;
   text-align: center;
   cursor: pointer;
   border-radius: 0.25rem;
   background-color: lightgray;
}
.close-button:hover{
    background-color: darkgray;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);    
}


/*
.modal .fecharModal {
	position: absolute;
	top: 10px;
	right: 10px;
}

.modal .fecharModal:hover {
	cursor: pointer;
	color: red;
}

.modal .conteudoModal {
	width: 60%;
	height: 30%;
	background-color: white;
}
*/

/* ------ FIM CAIXA MODAL ------ */




.caixaTitulo{
	display: flex;
	/*background-color: #1C1C1C;*/
	width: 100%;
	max-width: 1200px;
	height: 30px;
	margin: auto;
	
	
}
.tituloSec{
	width: 50%;
	height: 50%;
	/*background-color: #F2F2F2;*/
	text-align: center;
	margin: auto;
	line-height: 100%;	

}





/* ------ Menu de Drop ------ */

#body-1{
	/*/background-color: #A9A9A9;*/
	width: 100%;
	height: auto;
	margin-bottom: 50px;

}

.bodyLimitador{
	display: flex;
	flex-direction: column;
	/*background-color: #4F4F4F;*/
	width: 100%;
	max-width: 1200px;
  /*height: 100%; */
	margin: auto;
	
}

.menuDrop {
	width: 80%;
	max-width: 800px;
	margin: 20px auto;
}
  
button.menuItem {
	width: 100%;
	background-color: #EEC900;
	border: none;
	outline: none;
	text-align: left;
	padding: 12px 20px;
	font-size: 18px;
	color: #444;
	cursor: pointer;
	transition: background-color 0.9s linear;
}
  
button.menuItem:after {
	content: '\2b';
	font-size: 20px;
	float: right;
	/*line-height: 1.0;*/
}
  
button.menuItem.is-open:after {
	content: '\2b';
}
  
button.menuItem:hover, button.menuItem.is-open {
	background-color: #eee685;
}
  
.menuConteudo {
	background-color: white;
	border-left: 1px solid whitesmoke;
	border-right: 1px solid whitesmoke;
	padding: 0 20px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
}

.menuConteudo p {

	line-height: 2.0;
}


/* ------ Fim do Menu de Drop ------ */



/*	  Div Localização	 */

#body-2{
	/*background-color: #DCDCDC;*/
	width: 100%;
	height: 600px;

}


.bodyLimitador3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #4F4F4F;
	width: 100%;
	max-width: 1200px;
	max-height: 500px;
  	height: 100%;
	margin: auto;
}

.mapaGoogle {
	max-width: 750px;
	width: 100%;


}

.infoAtendimento {
	max-width: 375px;
	width: 100%;
	height: 423px;
	max-height: 100%;
	margin-left: 15px;
}

.infoAtendimento h3{
	
	justify-content: center;
}
/*
.infoAtendimento h3::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #eee685;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}*/

.conteudoAtendimento {
	margin-top: 30px;
	
}


/* ------ Fim Localização ------  */



/* ------ Footer ------ */
.row{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #23232E;
	padding: 30px 0;
}

.footer-col{
	padding: 0 15px;
	padding-left: 17%;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li a{
	line-height: 20px;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #eee685;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;

}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
}
/* CASO SEJA ADICIONADO ICONES SOCIAIS 

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-right: 10px;
	margin: 10px 0 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
*/

/* */

@media(max-width: 767px){
	.footer-col{
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px){
	.footer-col{
		margin-bottom: 30px;
	}
}


/* ------ Fim do Footer ------*/

.conteudo-titulo{
    position: absolute;
    top: 45%;
    width: 100%;  
    text-align: center;
}


.conteudo-titulo span{
    padding: 18px;
    font-size: 40px;
	font-weight: 800;
    letter-spacing: 5px;
    color: #b87d3f; 
    text-transform: uppercase;
}

.emitir a{
	color: #b87d3f;
	font-size: 25px;
	padding: 7px;
}

.emitir:hover{
	color: #fff;
	background-color: #1C1C1C;
}

/*LOGO*/

a:hover {
	opacity: 0.7;
  }
  
  .logo {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #FFEE11;
  }
  
  nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
	background: #23232e;
	height: 8vh;
  }

  
  .nav-list {
	list-style: none;
	display: flex;
  }
  
  .nav-list li {
	letter-spacing: 3px;
	margin-left: 32px;
  }
  
  .nav-list li a{
	color: #FFEE11; 
  }
  .mobile-menu {
	display: none;
	cursor: pointer;
  }
  
  .mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
	transition: 0.3s;
  }
  
  @media (max-width: 999px) {
	.nav-list {
	  position: absolute;
	  top: 12vh;
	  right: 0;
	  width: 50vw;
	  height: 92vh;
	  background: #23232e;
	  flex-direction: column;
	  align-items: center;
	  justify-content: space-around;
	  transform: translateX(100%);
	  transition: transform 0.3s ease-in;
	  z-index: 999;
	}
	.nav-list li {
	  margin-left: 0;
	  opacity: 0;
	}
	.mobile-menu {
	  display: block;
	}
  }
  
  .nav-list.active {
	transform: translateX(0);
  }
  
  @keyframes navLinkFade {
	from {
	  opacity: 0;
	  transform: translateX(50px);
	}
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
  .mobile-menu.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
	opacity: 0;
  }
  
  .mobile-menu.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
  }

@media (max-width: 572px){
	.slider{
		display: none;
	}
}

@media (max-width: 572px){
	.topo{
		display: none;
	}
}