html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*TOPO CONTATO*/
#contato-topo{
	padding-left: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #F2F2F2;	
}

#topo{
	/* background: #F2F2F2;*/
	padding: 15px;
	padding-left: 20%;
	padding-bottom: 15px;
}

#topo ul li{
    display: inline-block;	
    padding: 10px 70px 0 0;
	font-size: 20px;
}

#topo ul li a{
	text-decoration: none;
	color: black;
}

#topo ul li a:hover{
	color: #778899;
}

/* CSS PARA SLIDER*/
#slider{
	overflow: hidden;
}

#slider figure{
	position: relative;
	width: 300%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}

#slider figure img{
	width: 20%;
}

@keyframes slider{
	0%{
		left: 0;
	}

	20%{
		left: 0;
	}

	25%{
		left: -100%;
	}

	45%{
		left: -100%;
	}

	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}

	95%{
		left: -300%;
	}

	100%{
		left: -400%;
	}
}
/* fim PARA SLIDER*/